@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.content-body {
    font-family: 'Fira Sans', sans-serif;
    background: #C0D9E1;
    line-height: 1.4;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: 1px solid #485277;
    border-radius: 3px;
}

/* Navigation bar styles
-------------------------------------------------- */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 1.875rem;
    line-height: 20px;
    font-family: 'Lobster', cursive;
    color: #D95D39;
}

#logout {
    color: #F18805;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

.navbar-toggler {
    background-color: #676767;
}

.navbar-inverse {
    background-color: #485277;
    border-color: #eeeeee;
}
    .navbar-inverse .navbar-brand {
        color: #F18805;
    }
        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #F18805;
        }
    .navbar-inverse .navbar-text {
        color: #F18805;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #F18805;
        font-family: 'Fira Sans', sans-serif;
        font-size: 1rem;
    }

.navbar-light .navbar-nav .nav-link {
    color: #F18805;
}
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: #F4BB47;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Registration and Login
    ------------------------------------------------ */

/*Welcome Screen
    ------------------------------------------------ */
#zero {
    padding: 1.5em;
    text-align: center;
}
.intro-title {
    color: #485277;
    font-weight:700;
}
.intro-text {
    color: #291C1B;
}
.title {
    color: #F18805;
}
.welcome-text {
    color: #C0D9E1;
}
#one {
    background-color: #485277;
    padding: 2em;
}
.banner-background {
    background-color: #C0D9E1;
}
#banner {
    padding: 12em 0 10em 0;
    background-image: url('../../images/musicexchangebanner.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Lobster', cursive;
}

    #banner h1 {
        font-size: 3.5em;
        font-weight: 100;
        color: #485277;
        line-height: 1em;
        margin: 0 0 0.5em 0;
        padding-top: 0.25em;
    }

    #banner p {
        font-size: 1.5em;
        color: #485277;
        margin-bottom: 1.75em;
        padding-bottom: 0.75em;
    }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    #banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1280px) {

    #banner {
        padding: 10em 2em 8em 2em;
    }
}

@media screen and (max-width: 980px) {

    #banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {

    #banner {
        padding: 8em 1.5em 6em 1.5em;
    }

        #banner h1 {
            font-size: 2.5em;
        }

        #banner p {
            font-size: .9em;
        }
}

@media screen and (max-width: 480px) {

    #banner {
        padding: 6em 1.5em 4em 1.5em;
    }
}

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

    .flex.flex-2 article {
        width: 47%;
    }

    .flex.flex-3 article {
        position: relative;
        width: 28%;
    }

        .flex.flex-3 article:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            right: -2em;
            top: 0;
            border-right: 1px solid #dbdbdb;
            pointer-events: none;
        }

        .flex.flex-3 article:last-child:before {
            border: none;
        }

    .flex.flex-4 .box {
        width: 21%;
    }

@media screen and (max-width: 980px) {

    .flex.flex-2 article {
        width: 100%;
        margin-bottom: 3em;
    }

        .flex.flex-2 article:last-child {
            margin-bottom: 0;
        }

    .flex.flex-3 {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        .flex.flex-3 article {
            width: 100%;
            border-bottom: 1px solid #dbdbdb;
            padding-bottom: 2.5em;
            margin-bottom: 3em;
        }

            .flex.flex-3 article:last-child {
                border: none;
                padding-bottom: 0;
                margin: 0 0 1em 0;
            }

            .flex.flex-3 article:before {
                display: none;
            }

    .flex.flex-4 .box {
        width: 47%;
    }
}

@media screen and (max-width: 480px) {

    .flex.flex-4 .box {
        width: 100%;
    }
}

section.special, article.special {
    text-align: center;
}

    section.special article, article.special article {
        text-align: left;
    }

section.wrapper, article.wrapper {
    padding: 6em 0;
}

    section.wrapper header, article.wrapper header {
        margin-bottom: 4em;
    }

        section.wrapper header h2, article.wrapper header h2 {
            font-size: 2.75em;
            margin: 0 0 .5em 0;
        }

        section.wrapper header p, article.wrapper header p {
            font-size: 1em;
        }

    section.wrapper article header, article.wrapper article header {
        margin: 0;
    }

    section.wrapper.style1, article.wrapper.style1 {
        background: #5385c1;
        color: #bacee6;
    }

        section.wrapper.style1 header h2, article.wrapper.style1 header h2 {
            color: #fff;
        }

        section.wrapper.style1 header p, article.wrapper.style1 header p {
            color: #bacee6;
        }

        section.wrapper.style1 h3, article.wrapper.style1 h3 {
            color: #FFF;
        }

@media screen and (max-width: 980px) {

    section.wrapper, article.wrapper {
        padding: 2em 0;
    }
}

@media screen and (max-width: 736px) {

    section.wrapper header, article.wrapper header {
        margin-bottom: 2em;
    }

        section.wrapper header h2, article.wrapper header h2 {
            font-size: 2em;
        }

        section.wrapper header p, article.wrapper header p {
            font-size: .9em;
        }
}

@media screen and (max-width: 480px) {

    section.wrapper, article.wrapper {
        text-align: center;
    }

        section.wrapper article, article.wrapper article {
            text-align: center;
        }
}

/*Profile Cards
    ------------------------------------------------ */
#search {
    background-color: #485277;
    
}

.hidden{
    display: none;
}

p {
    color: #666;
}

.card-title {
    font-size: 1.5em;
    color: #D95D39;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}
.card {
    background: white;
    margin-bottom: 2em;
}

    .card a {
        color: black;
        text-decoration: none;
    }

        .card a:hover {
            box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
        }

.card-content {
    padding: 1em;
}

    .card-content h2 {
        margin-top: 0;
        margin-bottom: .5em;
        font-weight: normal;
    }

    .card-content p {
        font-size: 95%;
    }
@media screen and (min-width: 40em) {
    .cards {
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 1em;
        display: flex;
        flex: 0 1 calc(50% - 0.5em);
        /* width: calc(50% - 1em); */
    }
}
/* mq 40em*/

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }

    .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
        /* width: calc(33% - 1em); */
    }
}

.leftcolumn {
    float: left;
    width: 75%;
    margin-top: 2em;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    margin-top: 0.5em;
}

.list-card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
.connect-btn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 106px;
    cursor: pointer;
    padding: 5px 18px;
    border: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal normal bold 15px/normal "Battambang", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(0,191,9,1);
    -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

    .connect-btn:hover {
        background: rgba(6,155,11,1);
    }
.block-btn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 106px;
    cursor: pointer;
    padding: 5px 18px;
    border: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal normal bold 15px/normal "Battambang", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(233, 58, 48);
    -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

    .block-btn:hover {
        background: rgb(229, 17, 17);
    }

/* Chat window
    ------------------------------------------------ */
.group {
    padding: 13px;
    border-radius: 12px;
    background: rgb(57, 125, 192);
    margin: 5px 0px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

.chat_body {
    height: 520px;
    overflow: scroll;
}

.less_padding {
    padding: 2px;
}

.chat_message {
    padding: 13px;
    border-radius: 12px;
    width: 50%;
    background: #85C1E9;
    margin: 6px 4px;
}

.chat_main {
    background-color: #957bbe;
    height: 520px;
    padding: 0px;
}

.group_main {
    background-color: #85C1E9;
}