@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <header class="search-header">
        <h3 class="search-title">Manage your account settings</h3>
    </header>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
